template(name='main')
  .container
    .jumbotron
      .row
        .col-md-8.col-sm-12
          h1 Magic GPA
          p Predict GPA with the art of data mining and nerual networks.
          a.btn.btn-danger.btn-lg Clear
          a.btn.btn-info.btn-lg Trainer
          a.btn.btn-primary.btn-lg(href='/submit') Submit
          hr
          p A research project by Lu & Travis
        .col-md-4.col-sm-12
          #qrcode