template(name='submit')
  .survey
    .question
      h3 Please enter you name
      input#name.form-control(type='text', placeholder='Name')
      .base
    .question
      p.qnum 1/2
      h3 How many hours do you study per week?
      ul
        li
          input#q1o1.q1(type='radio', name='q2', value='0')
          label(for='q1o1') I don't study
          .check
        li
          input#q1o2.q1(type='radio', name='q2', value='1')
          label(for='q1o2') 0 - 5 hours
          .check
        li
          input#q1o3.q1(type='radio', name='q2', value='2')
          label(for='q1o3') 5 - 10 hours
          .check
        li
          input#q1o4.q1(type='radio', name='q2', value='3')
          label(for='q1o4') 10 - 15 hours
          .check
        li
          input#q1o5.q1(type='radio', name='q2', value='4')
          label(for='q1o5') 15 - 20 hours
          .check
        li
          input#q1o6.q1(type='radio', name='q2', value='5')
          label(for='q1o6') more than 20 hours
          .check
      .base
    .question
      p.qnum 2/2
      h3 How many times do you party per week?
      .slider
        .slide.active-slide
          #q2.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td > 5
      .base
    .submit
      button#submit.btn.btn-large.btn-block Submit