template(name='main')
  .main
    .banner
      .row
        .col-md-8.col-sm-12
          h1 Magic GPA
          p Predict GPA with the art of data mining and nerual networks.
          a#clear.btn.btn-danger.btn-lg Clear
          a.btn.btn-info.btn-lg(href='/trainer') Trainer
          a.btn.btn-primary.btn-lg(href='/submit') Submit
          a#turbo.btn.btn-warning.btn-lg
            i.fa.fa-fire  Go Turbo  
            i.fa.fa-fire
          hr
          p A research project by Lu & Travis
        .col-md-4.col-sm-12
          .qrcode.pull-right
            #qrcode
      .base
    .results
      .row
        each surveys
          .col-sm-12.col-md-4.col-lg-3
            .result
              .content
                .name
                  p #{name}
                  hr
                .gpa
                  if share
                    p #{gpa}
                  else
                    p hidden
                if $exists accurate
                  if accurate
                    i.fa.fa-check-circle
                  else
                    i.fa.fa-times-circle
                else
                  i.fa.fa-question-circle
                  