template(name='submit')
  .survey
    .question
      h3 Please enter you name
      input#name.form-control(type='text', placeholder='Name')
      .base
    .question
      p.qnum 1/14
      h3 I lack companionship.
      .slider
        .slide.active-slide
          #q1.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 2/14
      h3 I do not feel alone.
      .slider
        .slide.active-slide
          #q2.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 3/14
      h3 I have a lot in common with the people around me.
      .slider
        .slide.active-slide
          #q3.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 4/14
      h3 I am no longer close to anyone.
      .slider
        .slide.active-slide
          #q4.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 5/14
      h3 My interests and ideas are not shared by those around me.
      .slider
        .slide.active-slide
          #q5.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 6/14
      h3 I am an outgoing person.
      .slider
        .slide.active-slide
          #q6.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 7/14
      h3 My social relationships are superficial.
      .slider
        .slide.active-slide
          #q7.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 8/14
      h3 No one really knows me well.
      .slider
        .slide.active-slide
          #q8.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 9/14
      h3 I am unhappy being so withdrawn.
      .slider
        .slide.active-slide
          #q9.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 10/14
      h3 In the last month, how often have you felt nervous and stressed?
      .slider
        .slide.active-slide
          #q10.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 11/14
      h3 In the last month, how often have you felt confident about your ability to handle your personal problems?
      .slider
        .slide.active-slide
          #q11.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 12/14
      h3 In the last month, how often have you found that you could not cope with all the things that you had to do?
      .slider
        .slide.active-slide
          #q12.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 13/14
      h3 In the last month, how often have you been angered because of things that were outside of your control?
      .slider
        .slide.active-slide
          #q13.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .question
      p.qnum 14/14
      h3  In the last month, how often have you felt difficulties were piling up so high that you could not overcome them?
      .slider
        .slide.active-slide
          #q14.dragdealer
            .handle.green-circle
          table.scale
            tr
              td 0
              td 1
              td 2
              td 3
              td 4
              td 5
      .base
    .submit
      button#submit.btn.btn-large.btn-block Submit